@page "/Characters/ViewCharacter/{CharacterId}"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider


<p>Hi!</p>

<AuthorizeView>
    <h1>Hello, @context.User.Identity.Name!</h1>
    <p>You can only see this content if you're authenticated.</p>
</AuthorizeView>


@code {
    //https://www.learnrazorpages.com/razor-pages/routing 

    private void SecureMethod() {
        var x = 1;
        x++;
    }
}